@import 'core';

.tableRowExpanded{
    &Content{
        @include table();
        &Column{
            @include tableContentColumn();
        }
        &Header{
            @include tableColumnName();
        }
        &Span{
            @include tableColumnValue(150px);
        }
        &Heading{
            @include tableContentHeading();
        }
    }
}

.name{
    &Input{
    max-width:150px;
    max-height:30px;
    margin-left:10px;
}
&HeaderCell{
   button > div{
        display:flex;
        align-items:center;
    }
}
}