@import 'core';

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;

.card {
  height: 192px;
  position: relative;
  text-align: left;
  width: 289px;

  &:hover {
    background-color: $hover-secondary-color;
    box-shadow: 0 0 2px 0 rgba($dark-grey-color, 0.7);
  }

  &Header {
    margin-bottom: 16px;

    &Title {
      @include font($l, $medium, $secondary-color);

      margin-bottom: 4px;
    }

    &Date {
      @include font($s, $regular, $dark-grey-color);

      &Bought {
        color: $primary-color;
      }
    }
  }

  &Body {
    @include font($m);

    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: $font-size * $line-height * $lines-to-show;
    -webkit-line-clamp: $lines-to-show;
    line-height: 1.4;
    margin-bottom: 28px;
    max-width: 289px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover &Body {
    height: $font-size * $line-height * 2;
    -webkit-line-clamp: 2;
    margin-bottom: 35px;
  }

  &More {
    @include font($m, $regular, $primary-color);

    display: none;
    position: absolute;
    top: 110px;
  }

  &:hover &More {
    display: block;
  }

  &Footer {
    &Free {
      @include font($s, $medium, $white-color);

      background-color: $primary-color;
      border-radius: 12px;
      padding: 4px 16px;
      text-transform: uppercase;
    }

    &Price {
      @include font($l, $regular, $primary-color);
    }

    &Purchase {
      display: none;
    }

    &Rate {
      @include font($s, $regular, $primary-color);

      &Done {
        margin-bottom: 8px;
      }

      &Indicator {
        background-color: $divider-color;
        border-radius: 1px;
        height: 2px;
        margin-top: 6px;
        position: relative;

        &DoneLine {
          background-color: $primary-color;
          border-radius: 1px;
          height: 2px;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  &:hover &FooterFree,
  &:hover &FooterPrice,
  &:hover &FooterRate {
    display: none;
  }

  &:hover &FooterPurchase {
    display: inline-block;
  }
}
