@import 'core';

.button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: $xs;
  letter-spacing: 1px;
  line-height: 1;
  outline: none;
  padding: 10px 22px;
  text-decoration: none;

  &:focus {
    padding: 9px 21px;
  }

  &Primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    text-transform: uppercase;

    @include font($xs, $medium, $white-color);

    &:hover {
      background-color: $hover-primary-color;
      border: 1px solid $hover-primary-color;
    }

    &:focus {
      border: 2px solid $active-primary-color;
    }

    &:active {
      background-color: $active-primary-color;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &Secondary {
    background-color: $secondary-btn-color;
    border: 1px solid $dark-grey-color;
    text-transform: uppercase;

    @include font($xs, $medium, $dark-grey-color);

    &:hover {
      background-color: $hover-secondary-color;
    }

    &:focus {
      border: 2px solid $primary-color;
    }

    &:active {
      background-color: $active-secondary-color;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &Large {
    font-size: $s;
    padding: 11px 32px;

    &:focus {
      padding: 10px 31px;
    }
  }

  &Shared {
    font-size: 16px;
    padding: 16px;

    &:focus {
      padding: 15px;
    }
  }
}
