@import 'core';

$grid-size: 12;
$gutter: 8px;

.row {
  align-items: flex-start;
  display: flex;
  margin: 0 calc(-1 / 2 * $gutter);
}

@for $i from 1 through 12 {
  .col#{$i} {
    padding: calc($gutter / 2);
    width: calc(100 / $grid-size * $i * 1%);
  }
}
