@import 'core';

.container {
  align-items: center;
  display: flex;
  min-height: 66px;

  @media (max-width: 433px) {
    align-items: flex-start;
    flex-direction: column;
    min-height: auto;
  }
}

.scale {
  border: 1px solid $secondary-color;
  border-radius: 4px;
  height: 4px;
  position: relative;
  width: 100%;

  &Used {
    background-color: $secondary-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  &Left {
    @include font($s, $medium, $white-color);

    align-items: center;
    background-color: $secondary-color;
    border-radius: 50%;
    display: flex;
    height: 66px;
    justify-content: center;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 66px;

    @media (max-width: 433px) {
      display: none;
    }

    &Text {
      text-align: center;
      width: 36px;

      &Mobile {
        display: none;

        @media (max-width: 433px) {
          color: $secondary-color;
          display: block;
          margin-bottom: 4px;
          width: auto;
        }
      }
    }
  }
}
