@import 'core';

.card {
  height: 312px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 289px;

  &:hover {
    background-color: $hover-secondary-color;
    box-shadow: 0 0 2px 0 rgba($dark-grey-color, 0.7);
  }

  &Img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 160px;
    overflow: hidden;
    width: 100%;

    &Item {
      background-size: cover;
      width: 100%;
    }
  }

  &DownPart {
    padding: 16px;
  }

  &Header {
    line-height: 1;
    margin-bottom: 26px;

    &Title {
      @include font($l, $medium, $secondary-color);

      margin-bottom: 4px;
    }

    &Date {
      @include font($s, $regular, $dark-grey-color);

      margin-bottom: 8px;

      &Bought {
        color: $primary-color;
      }
    }

    &Author {
      @include font($s, $regular, $dark-grey-color);

      margin-bottom: 8px;
    }

    &Rating {
      @include font($s, $regular, $grey-color);
    }
  }

  &:hover &Header {
    margin-bottom: 16px;
  }

  &Footer {
    &Free {
      @include font($s, $medium, $white-color);

      background-color: $primary-color;
      border-radius: 12px;
      padding: 4px 16px;
      text-transform: uppercase;
    }

    &Price {
      @include font($l, $regular, $primary-color);
    }

    &Purchase {
      display: none;
    }

    &Bought {
      @include font($m, $regular, $grey-color);
    }
  }

  &:hover &FooterFree,
  &:hover &FooterPrice,
  &:hover &FooterBought {
    display: none;
  }

  &:hover &FooterPurchase {
    display: inline-block;
  }
}
