@import 'variables';
@import 'typography';

@mixin font($size, $weight, $color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin table() {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 36px;
  position: relative;
}

@mixin tableContentHeading() {
  @include font($m, $semi-bold,$black-color);

  display: flex;
  margin-bottom: 16px;
}

@mixin tableContentColumn() {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-right: 46px;
}

@mixin tableColumnName() {
  @include font($m, $small, $dark-grey-color);

  width: 140px;
}

@mixin tableColumnValue() {
  flex: 1;

  @include font($m, $regular, $black-color);
}
