$primary-color: #26a69a;
$active-primary-color: #00695c;
$hover-primary-color: #00887b;

$secondary-btn-color: #fff;
$active-secondary-color: #dff2f1;
$hover-secondary-color: #f7fbfa;

$graph-color: #b2dfdb;
$error-color: #dd2c00;
$bgc-error-color: #fbe9e7;
$notification-color: #e65100;
$secondary-color: #f57c00;
$icons-color: #ffa726;
$chips-color: #ffe0b2;
$graph-one-color: #fff3e0;
$black-color: #000;
$dark-grey-color: #3d3d3d;
$grey-color: #a5a5a5;
$divider-color: #ececec;
$white-color: #fff;
$double-dark-grey-color: #1c1c1c;
$light-grey-color: rgba(165,165,165,0.8);

//position
$side-bar-width: 200px;
$content-left-padding: 64px;
$content-right-padding: 100px;
$card-width: 289px;
$card-margin: 16px;
