@import 'core';

.dropDownArrow {
  color: $dark-grey-color;
  cursor: pointer;
  margin-right: 5px;
}

.crossClose {
  align-self: center;
}

.chips {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin-right: 10px;
  }
}
