@import 'core';

.table {
  width: 100%;

  &Header {
    background-color: $white-color;
    display: flex;
    justify-content: flex-start;

    &Cell {
      padding: 19px 12px 19px 24px;

      &Content {
        align-items: center;
        background: $white-color;
        border: none;
        cursor: pointer;
        display: flex;
        outline: none;
        padding: 0;

        &Text {
          margin-right: 4px;

          @include font($s, $regular, $black-color);

          &Active {
            @include font($m, $medium, $black-color);
          }
        }

        &Square {
          display: flex;
          flex-direction: column;

          &Icon {
            height: 18px;
            width: 18px;
          }

          &Hide {
            display: none;
          }
        }

        &Disable {
          pointer-events: none;
        }
      }

      &:hover {
        cursor: default;

        .tableHeaderCellContent {
          &Text {
            @include font($s, $semi-bold, $dark-grey-color);
          }
        }
      }
    }
  }

  &Row {
    background-color: $white-color;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    position: relative;

    &Disabled {
      pointer-events: none;
    }

    &:hover {
      outline: none;
    }

    &Expanded {
      background-color: $white-color !important;
      border: none;
      padding-left: 0;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      &Button {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
      }

      &Icon {
        height: 8px;
        width: 8px;
      }

      &Content {
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        padding: 16px 0 16px 36px;
        position: relative;

        &Column {
          align-items: flex-start;
          display: flex;
          margin-bottom: 16px;
          margin-right: 46px;

          > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            left: 100px;
            position: absolute;
          }
        }

        &Header {
          display: block;

          @include font($m, $small, $dark-grey-color);
        }

        &Span {
          display: block;

          @include font($m, $regular, $black-color);
        }
      }
    }

    > div:first-of-type {
      @include font($m, $semi-bold, $black-color);
    }
  }

  &Cell {
    align-items: center;
    display: flex;
    height: 46px;
    justify-content: flex-start;
    padding: 0 12px 0 24px;

    @include font($l, $regular, $black-color);
  }

  &IconsCell {
    align-self: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 32px;

    &Icon {
      height: 24px;
      margin-left: 12px;
      width: 24px;
    }

    &Container {
      > button {
        margin-left: 12px;
      }

      > a {
        margin-left: 12px;
      }
    }
  }
}

.handleExpandedRow {
  background: $white-color;
  box-shadow: 0 0 2px 0 $light-grey-color;
  margin-bottom: 6px;
  width: 100%;
}
