@import 'core';

.table {
  width: 100%;
  &Header {
    background-color: $white-color;
    display: flex;
    justify-content: flex-start;

    &Cell {
      padding: 19px 12px 19px 24px;

      &Content {
        align-items: center;
        border: none;
        cursor: pointer;
        display: flex;
        outline: none;
        padding: 0;

        &Text {
          margin-right: 4px;
          @include font($s, $regular, $black-color);
          &Active {
             @include font($m, $medium, $black-color);
          }
        }

        &Square {
          display: flex;
          flex-direction: column;

          &Icon {
            width: 18px;
            height: 18px;
          }

          &Hide {
            display: none;
          }
        }

        &Disable {
          pointer-events: none;
        }
      }

      &:hover {
        cursor: default;

        .tableHeaderCellContent {
          &Text {
             @include font($m, $medium, $black-color);
          }

        }
      }
    }
  }

  &Row {
    background-color: $white-color;
    position:relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;
    >div:first-of-type{
      @include font($m, $semi-bold, $black-color)  
  }
    &Disabled {
      pointer-events: none;
    }

    &:hover {
      outline: none;
    }

    &Expanded {
       background-color: $white-color !important;
        padding-left: 0;
        border:none;
        width:100%;
        &:hover{
          cursor: pointer;
        }
      &Button {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
      }

      &Icon {
        height: 8px;
        width: 8px;
      }
      &Content {
        display: flex;
        padding: 16px 0 16px 36px;
        border-radius: 2px;
        flex-direction: column;
        position: relative;
        &Column {
          align-items: flex-start;
          display: flex;
          margin-right: 46px;
          margin-bottom: 16px;
          > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 100px;
          }
        }

        &Header {
          display: block;
          @include font($m, $small, $dark-grey-color);
        }

        &Span {
          display: block;
          @include font($m, $regular, $black-color);
        }
      }
    }
  }

  &Cell {
    align-items: center;
    display: flex;
    height: 46px;
    justify-content: flex-start;
    padding: 0 12px 0 24px;
     @include font($l, $regular, $black-color);
  }
&IconsCell{
  display: flex;
  position: absolute;
  right:32px;
  justify-content: space-between;
  align-self: center;
  &Icon{
    margin-left: 12px;
    height: 24px;
    width:24px;
  }
  &Container{
    >svg{   
      margin-left: 12px;
      height: 24px;
      width:24px;
    }
  }
}

}
.handleExpandedRow{
  box-shadow: 0 0 2px 0 $light-grey-color;
  margin-bottom:6px;
  width:100%;
  background:$white-color
}