@import 'core';

:global {
  @import './vendor.scss';

  .DayPicker {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(6, 44, 82, 0.1), 0 2px 16px 0 rgba(33, 43, 54, 0.08);
    margin-top: 8px;
    outline: none;
    position: absolute;
    width: 594px;
    z-index: 100;

    &-wrapper {
      background-color: $white-color;
      outline: none;
    }

    &-NavBar {
      position: relative;

      &-Prev {
        left: 20px;
        position: absolute;
        top: 14px;
        transform: rotate(90deg);
      }

      &-Next {
        position: absolute;
        right: 20px;
        top: 14px;
        transform: rotate(270deg);
      }
    }

    &-Month {
      margin-bottom: 4px;
    }

    &-Caption {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }

    &-Weekday {
      color: $grey-color;
      font-size: 12px;
    }

    &-Day {
      // border: 1px solid $divider-color;
      border-radius: 0 !important;
      color: $dark-grey-color;
      font-size: 14px;
      height: 37px;
      outline: none;
      width: 37px;

      &:focus {
        border: none;
        box-shadow: 0 0 0 1px $primary-color;
        outline: none;
      }
    }
  }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }

  /* Default modifiers */

  .DayPicker-Day--today {
    box-shadow: 0 0 0 1px $primary-color;
    outline: none;
    position: relative;
    z-index: 10;

    @include font($m, $medium, $black-color);

    &:focus {
      border: none;
      box-shadow: 0 0 0 1px $primary-color;
      outline: none;
    }
  }

  .DayPicker-Day--outside {
    background: transparent !important;
    color: #8b9898;
    cursor: default;
  }

  .DayPicker-Day--disabled {
    color: $grey-color;
    cursor: default;

    /* background-color: #eff1f1; */
  }

  /* Example modifiers */

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: $primary-color;
    position: relative;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: $active-secondary-color;
  }

  .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: $active-secondary-color;
  }

  /* DayPickerInput */

  .DayPickerInput {
    display: inline-block;
  }

  .DayPickerInput-OverlayWrapper {
    position: relative;
  }

  .DayPickerInput-Overlay {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    left: 0;
    position: absolute;
    z-index: 1;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: $active-secondary-color;
    color: $black-color;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside):not(.DayPicker-Day--today) {
    background-color: $active-secondary-color;
    color: $black-color;
  }

  .DayPicker-Day--start,
  .DayPicker-Day--end {
    background-color: $primary-color !important;
    color: $white-color;
    z-index: 100;
  }

  .DayPicker-Day--outside {
    background-color: transparent !important;
  }
}
