@import 'core';

$diameter: 24px;

.numberRate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  line-height: 1;

  & input {
    display: none;
  }

  & label {
    @include font($l, $regular, $black-color);

    align-items: center;
    background-color: $divider-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: $diameter;
    justify-content: center;
    margin-right: 8px;
    width: $diameter;
  }

  & input:checked ~ label {
    background-color: $secondary-color;
    color: $white-color;
  }

  & input + label::before {
    content: '';
  }

  & input + label:hover,
  & input + label:hover ~ label {
    background-color: $secondary-color;
    color: $white-color;
  }
}
