@import 'core';

.withIcon {
  display: flex;
  position: relative;

  input::placeholder {
    color: $grey-color;
  }

  &Before {
    padding-left: 35px;

    &:focus {
      border: 2px solid $primary-color;
      padding: 8px 11px 8px 34px;
    }

    &Error {
      border: 2px solid $error-color;
      padding: 8px 11px 8px 34px;

      &:focus {
        border: 2px solid $error-color;
      }
    }
  }

  &After {
    padding-left: 12px;
    padding-right: 35px;

    &:focus {
      border: 2px solid $primary-color;
      padding: 8px 11px;
      padding-right: 34px;
    }

    &Error {
      border: 2px solid $error-color;
      padding: 8px 11px;

      &:focus {
        border: 2px solid $error-color;
      }
    }
  }

  .icon {
    color: $dark-grey-color;
    position: absolute;

    &Before {
      left: 0;
      top: 50%;
      transform: translate(10px, -50%);
    }

    &After {
      right: 0;
      top: 50%;
      transform: translate(-9px, -50%);
    }
  }

  &Disabled {
    opacity: 0.3;
    pointer-events: none;

    input:focus {
      border: 2px solid $dark-grey-color;
      pointer-events: none;
    }
  }
}
