@import 'core';

.chip {
  align-items: center;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  // max-width:200px;
  min-height: 30px;

  @include font($m, $medium, $white-color);

  &Text {
    margin-left: 10px;
    margin-right: 20px;
  }

  &Icon {
    svg { color: $white-color; }

    &:hover {
      background-color: $primary-color;
    }
  }
}
