@import 'core';

.table {
  margin: 0 auto;
  max-width: 1040px;
  min-width: 900px;

  &HeadRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    line-height: 1;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 16px;
    width: 100%;

    &Cell {
      @include font($s, $regular, $dark-grey-color);

      // flex-grow: 1;
      // max-width: 130px;
      // min-width: 60px;
      // overflow: hidden;
      // padding-right: 32px;
      // margin-right: 32px;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }

    // &Cell:last-child {
    //   padding-right: 0;
    //   // margin-right: 0;
    // }
  }

  &BodyRow {
    // align-items: center;
    box-shadow: 0 0 1px 0 rgba($grey-color, 0.8);
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    line-height: 1;
    margin-bottom: 4px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 16px;
    padding-top: 24px;
    width: 100%;

    &Cell {
      @include font($l, $regular, $black-color);

      // flex-grow: 1;
      // max-width: 130px;
      // min-width: 60px;
      overflow: hidden;
      // padding-right: 32px;
      // margin-right: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    //   &Cell:last-child {
    //     padding-right: 0;
    //     // margin-right: 0;
    //  }
  }

  // &BodyRow:last-child {
  //   margin-bottom: 0;
  // }

  // &EmptyCell {
  //   flex: 1;
  // }
}
