@import 'core';

.input {
  @include font($m, $regular, $black-color);

  border: 1px solid $dark-grey-color; //was double-dark-grey
  border-radius: 2px;
  line-height: 1;
  // box-sizing: border-box;
  padding: 9px 12px;
  width: 100%;

  &::placeholder {
    @include font($m, $regular, $black-color);
  }

  &:focus {
    border: 2px solid $primary-color;
    padding: 8px 11px;
  }

  &:disabled {
    background-color: $white-color;
    opacity: 0.3;
  }

  &Error {
    border: 2px solid $error-color;
    padding: 8px 11px;

    &:focus,
    &:hover {
      border: 2px solid $error-color;
      padding: 8px 11px;
    }
  }
}
